@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://unpkg.com/normalize.css');

/* Base styles */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(-0.0006949270326617185rem + 1.111883252258513vw);
}

@media screen and (max-width:1440px) {
  html {
    font-size: calc(-0.0006949270326615706rem + 1.111883252258513vw);
  }
}

body {
  background: black;
  font-family: 'Inter', sans-serif, system-ui;
  min-height: 100vh;
}

/* Typography */
h1 {
  color: white;
  font-size: 8rem;
  line-height: 0.8;
  margin: 0;
  text-wrap: pretty;
}

/* Layout */
main {
  width: 100%;
}

header {
  display: flex;
  min-height: 100vh;
  padding-inline: 5rem;
  place-items: center;
  width: 100%;
}

footer {
  opacity: 0.5;
  padding-block: 2rem;
}

.section_spacer {
  min-height: 100vh;
  display: flex;
  place-items: center;
  width: 100%;
  justify-content: center;
}

.spacer_heading3 {
  font-size: 6rem;
  color: white;
}

/* Craft components */
.craft_wrapper {
  color: white;
  display: flex;
  font-size: 6rem;
  line-height: 1.25;
  padding-left: 5rem;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.craft_heading {
  display: inline-block;
  font-size: 6rem;
  font-weight: 600;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  position: sticky;
  top: calc(50% - 0.5lh);
}

.craft_list {
  font-weight: 600;
}

.craft_item:not(:last-of-type) {
  color: attr(data-color);
  transition: color 0.3s ease;
}

/* Animations */
@-webkit-keyframes opacity {
  0% {
    opacity: var(--start-opacity, 0.2);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: var(--end-opacity, 0.2);
  }
}

@keyframes opacity {
  0% {
    opacity: var(--start-opacity, 0.2);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: var(--end-opacity, 0.2);
  }
}

/* Scroll snap */
[data-snap='true'] {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

[data-snap='true'] .craft_item {
  scroll-snap-align: center;
}

/* Feature queries */
@supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
  [data-animate='true'] {
    .craft_item {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      animation-range: cover calc(50% - 1lh) calc(50% + 1lh);
      animation-timeline: view();
      opacity: 0.2;

      &:first-of-type {
        --start-opacity: 1;
      }
      &:last-of-type {
        --end-opacity: 1;
      }
    }
  }
}
